@import "../lib/node_modules/tether/dist/css/tether.min.css"
@import "../lib/node_modules/bootstrap/scss/bootstrap.scss"

body, html
	height: 100%
	margin: 0
	background-color: #1d1d1d

h1, h2, h3, h4, h5, h6, p, tr, td
	color: #fff

.logo
	margin-left: 80px

.google-map-game
	height: 100%
	width: 600px
	margin: 25px auto
	filter: grayscale(90%)

.google-map-results
	height: 100%
	width: 600px
	margin: 25px auto
	filter: grayscale(90%)

.google-map-home
	height: 100%
	width: 400px
	// margin: 25px auto
	filter: grayscale(90%)

.google-map-detail
	height: auto
	width: 300px
	margin-bottom: 22px
	margin-top: 15px
	filter: grayscale(90%)

.place-image
	width: 600px
	height: auto
	margin: 10px auto

span.brand
	margin-left: 20px
	margin-right: 450px

.row
	margin: 50px 0

.title
	margin: 25px 0 10px 0
	text-align: center

.subtitle
	margin: 10px 0 10px 0
	text-align: center

.center-button
	width: 200px
	margin: 0 auto

.cover-image
	width: 1000px
	margin: 0 auto

.faux-link:hover
	text-decoration: underline
	cursor: pointer

.delete-button
	border: 0px
	padding: 5px 10px

.submit-btn
	cursor: pointer

.buttons-three
	width: 300px
	margin: 0 auto

button
	border: 2px solid #FF8300
	background-color: #1d1d1d
	color: #FF8300
	border-radius: 5px

.dark-text
	color: #1d1d1d

