@import "../lib/node_modules/tether/dist/css/tether.min.css"
@import "../lib/node_modules/bootstrap/scss/bootstrap.scss"

body, html
	height: 100%
	margin: 0

.google-map-game
	height: 100%
	width: 600px
	margin: 25px auto

.google-map-results
	height: 100%
	width: 600px
	margin: 25px auto

.google-map-home
	height: 100%
	width: 400px
	// margin: 25px auto

.google-map-detail
	height: 100%
	width: 300px
	// margin: 25px auto

span.brand
	margin-left: 20px
	margin-right: 50px

.row
	margin: 50px 0

