<div ng-include="'templates/navbar.html'"></div>

<div class="row">
  <div class="col-sm-3">
    <h2>My Places</h2>
  </div>
  <div class="col-sm-3">
    <button ng-click="playGame()">Play Game</button>
  </div>
  <div class="col-sm-6">
    <h4>Total Score: {{scoreSum}}</h4>
  </div>
</div>

<div class="row">

  <div class="col-sm-5">
    <table class="table table-sm">
      <thead>
        <tr>
          <th colspan="5">My Places</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="place in usersPlaces">
          <th scope="row">{{place.counter}}</th>
          <td>{{place.name}}</td>
          <td><a ng-href="#!/place/{{place.id}}">Details</a></td>
          <td data-toggle="modal" data-target="#noteModal{{userPlaceKeyId}}">Note</td>
          <td><button class="btn btn-secondary" ng-click="deletePlace(userPlaceKeyId)">✗</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-sm-5">
    <div class="google-map-home">
    	<ng-map center="[36.1627, -86.7816]" zoom="11" zoom-control="false"></ng-map>
    </div>
  </div>

  <div class="col-sm-2">
    <table class="table table-sm">
      <thead>
        <tr>
          <th colspan="6">My Recent Scores</th>
        </tr>
      </thead>
      <tbody>
      	<tr ng-repeat="score in usersScores">
          <td>{{score.score}}</td>
          <td>{{score.date}}</td>
        </tr>
      </tbody>
    </table>
  </div>

   <div class="modal fade" id='noteModal{{userPlaceKeyId}}' tabindex="-1" role="dialog" aria-labelledby="noteModal{{userPlaceKeyId}}Label" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title capitalize" id="exampleModalLabel">Note</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <p>{{note}}</p>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary edit-btn" ng-click="editNote(userPlaceKeyId)">Edit</button>
              <button class="btn btn-secondary delete-btn right" ng-click="deleteNote(userPlaceKeyId)">Delete</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

</div>

