<div ng-include="'templates/navbar.html'"></div>

<h2>My Places</h2>

<button ng-click="playGame()">Play Game</button>

<div>
	<h4>Total Score: </h4>
</div>

<table class="table table-sm">
  <thead>
    <tr>
      <th colspan="6">My Places</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Place Name</td>
      <td><a ng-href="#!/place/{{place.id}}">Details</td>
      <td><a ng-href="https://npgallery.nps.gov/pdfhost/docs/nrhp/text/{{place.id}}.pdf" target="_blank">Nomination</a></td>
      <td><a ng-href="https://npgallery.nps.gov/pdfhost/docs/nrhp/photos/{{place.id}}.pdf" target="_blank">Photos</a></td>
      <td ng-click="deletePlace()">✗</td>
    </tr>
  </tbody>
</table>

<div class="google-map">
	<map center="[36.1627, -86.7816]" zoom="{{map.zoom}}"></map>
</div>

<table class="table table-sm">
  <thead>
    <tr>
      <th colspan="6">My Latest Scores</th>
    </tr>
  </thead>
  <tbody>
  	<tr>
      <th scope="row">1</th>
      <td>100</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>75</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>25</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>100</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>0</td>
    </tr>
  </tbody>
</table>

