<div ng-include="'templates/navbar.html'"></div>

<h1 class="title">Historic Places Finder <small>(Working Title)</small></h1>

<div class="cover-image">
	<img src="../images/collage-nashville.png">
</div>

<h4 class="subtitle">Test your knowledge of Nashville architectural history and development.</h4>

<p class="subtitle">Please login to play or view your saved places</p>

<div class="center-button">
    <button class="btn-secondary" type="button" ng-click="login()">Login with Google</button>
</div>

