<div class="container">
<div class="header">
	<img class="login-title" src="../images/brand-logo.png">
</div>
<h4 class="subtitle login-subtitle">Test your knowledge of Nashville architectural history and development.</h4>

<div class="cover-image">
	<img class="login-image" src="../images/collage-nashville.png">
</div>

<p class="subtitle login-text">Please login to play or view your saved places</p>

<div class="login-button-container">
   <button type="button login-button" ng-click="login()">Login with Google</button>
</div>

</div>
