<nav class="navbar navbar-toggleable-md navbar-light bg-faded nav-color" ng-controller="NavController">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  	<span class="navbar-toggler-icon"></span>
	</button>

	<a class="navbar-brand" ng-href="#!/homepage">
		<img src="../images/brand-logo-small.png" width="300" height="auto" class="d-inline-block align-center logo" alt="Find It logo">
	</a>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
  		<li class="nav-item">
    		<a class="nav-link nav-text" ng-href="#!/homepage">My Places</a>
  		</li>
      <li class="nav-item">
        <p class="nav-link nav-text" data-toggle="modal" data-target="#instructionsModal">Information</p>
      </li>
  		<li class="nav-item">
    		<a class="nav-link nav-text" ng-href="#!/" ng-click="logout()">Logout</a>
  		</li>
		</ul>
	</div>
</nav>

<div class="modal fade" id='instructionsModal' tabindex="-1" role="dialog" aria-labelledby="instructionsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title capitalize dark-text" id="modalLabel">Instructions</h5>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <h3 class="dark-text">National Register of Historic Places Program</h3>
          <p class="dark-text">The National Register of Historic Places is the official list of the Nation's historic places worthy of preservation. Authorized by the National Historic Preservation Act of 1966, the National Park Service's National Register of Historic Places is part of a national program to coordinate and support public and private efforts to identify, evaluate, and protect America's historic and archeological resources.</p>
          <h3 class="dark-text">How to play Historic NashGuessr</h3>
          <p class="dark-text">On your homepage you can view saved places and recent scores. You can also start a new game by clicking the "play game" button.
          <p class="dark-text">Upon click of "Play Game", you will see an image of a historical building in Nashville. Once you click find on map, you will be presented with a google map. You can pan and zoom to find the location you think the building is located at. Next, you will place a pin and click "see results".</p>
          <p class="dark-text">The results page will show the actual location of the historic building, a score based on proximity, and give you a few options. You can play again, save the place to your places collection, or view the details of the place you saw during your game.</p>
          <p class="dark-text">If you choose to view details, you will get the name of the place, see the image again, and have the option to view the National Register Nomination and additional photos.</p>
          <p class="dark-text">From your homepage you can add notes to the place if you want to remember the architectural style, location, a cool feature, etc.</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>