<div ng-include="'templates/navbar.html'"></div>

<div ng-repeat="place in place">

	<h2>{{place.name}}</h2>
	<a ng-href="https://npgallery.nps.gov/pdfhost/docs/nrhp/text/{{place.id}}.pdf" target="_blank">National Register Nomination</a>
	<a ng-href="https://npgallery.nps.gov/pdfhost/docs/nrhp/photos/{{place.id}}.pdf" target="_blank">Photos</a>

	<div class="place-detail-image">
		<img src="../images/{{place.photo}}.png" height="400" width="auto">
	</div>

	<div class="google-map">
		<map center="[36.1627, -86.7816]" zoom="{{map.zoom}}">
		</map>
	</div>

	<div>
		<button ng-click="savePlace()">Save place</button>
	</div>

</div>

