<div ng-include="'templates/navbar.html'"></div>

<div class="container">
	<div class="row unique-row-top">
		<div class="col-md-8">
			<h2>{{place.name}}</h2>
		</div>
	</div>
	<div class="row unique-row">
		<div class="col-md-3">
			<a ng-href="https://npgallery.nps.gov/pdfhost/docs/nrhp/text/{{place.id}}.pdf" target="_blank" class="place-link">National Register Nomination</a>
		</div>
		<div class="col-md-3">
			<a ng-href="https://npgallery.nps.gov/pdfhost/docs/nrhp/photos/{{place.id}}.pdf" target="_blank" class="place-link">More Photos</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-7">
			<img class="place-detail-image" src="../images/{{place.photo}}.png" height="400" width="auto">
		</div>
		<div class="col-md-5">
			<div class="google-map-detail">
				<map center="[{{place.lat}}, {{place.long}}]" zoom="15" zoom-control="true">
					<marker position="[{{place.lat}}, {{place.long}}]"></marker>
				</map>
			</div>
			<div>
				<h4>Notes:</h4>
				<div class="notes">
					<p>{{note}}</p>
				</div>
			</div>
		</div>
	</div>
</div>








